./outlier/gen.py
./real_data/bsas/
./real_data/DBSCAN/
./real_data/DOS/
./real_data/DPC/
./real_data/DPCKNN/
./real_data/ema/
./real_data/extreme-cluster/
./real_data/hdbscan/
./real_data/hsyncnet/
./real_data/IDPC/
./real_data/Kmeans/
./real_data/spectal_clustering/
./real_data/syncnet/